/* yhteiset */

body {color:black;
      background-color: white;
      font-family: 'Roboto', sans-serif;}

header, footer {text-align: center;}
    main p{background-color: aqua;
    padding: 29px;}  
h1 {color:red; 
    font-family: 'Luckiest Guy', cursive;}
 
/* mobiili*/    

@media only screen and (max-width:430px)
    {
   
    }

/* keskikokoiset */
    
@media only screen and (min-width:431px)
    {
      .flex-container{display:flex}  
    .flex-item{flex:1}
    }

/* isot näytöt */
    
@media only screen and (min-width:1024px)
   {
body {width: 1024px;
border: black 2px solid;
margin: auto;}
   }
